@tailwind base;
@tailwind components;
@tailwind utilities;

.moveBottomAnimation {
  animation: moveInBottom 0.3s ease-out 0.2s;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
